.git
.cache
.gitignore
.DS_Store
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
.tox
.coverage
.coverage.*
*.log
*.egg-info
*.egg/

siim-tf2-augmentation-with-tfa-effnets.ipynb
static/uploads